<div class="">
  <h1>Public Recipes</h1>
  <div>
    <% if @recipes.empty? %>
      <p>No public recipes available.</p>
    <% else %>
      <% @recipes.each do |recipe| %>
        <p><%= recipe.name%></p>
      <% end %>
    <% end %>
  </div>
</div>